.container {
    display: flex;
    flex-direction: row;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px 40px;
}

.boxes {
    margin-inline: 20px;
    padding: 50px 50px;
}

.box1 {
    background-color: lightgreen;
    color: darkgreen;
    border: 1px solid darkgreen;
    border-radius: 5px;
}

.box2 {
    background-color: lightskyblue;
    color: darkblue;
    border: 1px solid darkblue;
    border-radius: 5px;
}

.box3 {
    background-color: indianred;
    color: darkred;
    border: 1px solid darkred;
    border-radius: 5px;
}

.container-variaty {
    border: 1px dashed black;
    border-radius: 5px;
    background-color: lightgray;
}

.img-wrapper {
    flex-basis: 100%;
    padding-inline: 0 20px;
}

.img-wrapper > img {
    width: 100%;
}

.inner-container-info {
    display: flex;
    flex-direction: column;
}

.container-icon {
    flex-basis: 20px;
    border: 1px solid black;
    display: flex;
    flex-direction: row;
}

.wrapper-icon {
    flex-basis: 20px;
    margin: 0 auto;
    border: 1px solid pink;
}

.wrapper-icon > img {
    width: 100%;
}